# Praca z bazami danych w Pythonie

In [5]:
import pandas as pd

In [14]:
data=pd.read_csv('dane_geo/ZRM.csv', sep=';')
data.head()

   id          nazwa               adres         miasto        LAT       LONG
0   1       S-Ławica    ul. Bukowska 285  60-189 Poznań  52.414413  16.837241
1   2      P-Lutycka   ul. Juraszów 7/19  60-479 Poznań  52.440155  16.908539
2   3  S-Szwajcarska   ul. Szwajcarska 3  61-285 Poznań  52.389697  16.992410
3   4      P1-Rataje  os. Piastowskie 15  61-148 Poznań  52.395279  16.945332
4   5      P2-Rataje  os. Piastowskie 15  61-148 Poznań  52.395279  16.945332

# Praca z PostgreSQL

In [3]:
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.sql import text as sa_text

 #### Połączenie do bazy danych PostgreSQL

In [18]:
try:
    engine=create_engine('postgresql://postgres:postgres@localhost:5434/python')
    print('Jest połączenie z bazą')
except:
     print ('Błąd połączenia z bazą danych PostgreSQL.')

Jest połączenie z bazą

#### Eksport danych do bazy

In [22]:
data.to_sql('ZRM', engine, if_exists='append', index=False )

#### Truncate tabeli
Aby dane sie nie duplikowały przy powtórnych uruchomieniach notebooka

In [21]:
try:
    engine.execute(sa_text('''TRUNCATE TABLE "ZRM"''').execution_options(autocommit=True));
    print('Usunięto zawartość tabeli')
except:
    print ('Nie usunięto zawartości tabeli. Sprawdź czy istnieje')

Usunięto zawartość tabeli

#### Import danych

In [24]:
df = pd.read_sql_query('''select * from "ZRM"''',engine)
df.head()

   id          nazwa               adres         miasto        LAT       LONG
0   1       S-Ławica    ul. Bukowska 285  60-189 Poznań  52.414413  16.837241
1   2      P-Lutycka   ul. Juraszów 7/19  60-479 Poznań  52.440155  16.908539
2   3  S-Szwajcarska   ul. Szwajcarska 3  61-285 Poznań  52.389697  16.992410
3   4      P1-Rataje  os. Piastowskie 15  61-148 Poznań  52.395279  16.945332
4   5      P2-Rataje  os. Piastowskie 15  61-148 Poznań  52.395279  16.945332

## Praca z MS SQL Server

In [26]:
import pyodbc

### Połączenie do bazy danych Ms SQL Server

In [68]:
DB = {'servername': 'localhost',
      'database': 'python',
      'driver': 'driver=SQL Server Native Client 11.0'}

try:
    engine_ms = create_engine('mssql+pyodbc://' + DB['servername'] + '/' + DB['database'] + "?" + DB['driver'])
    print('Jest połączenie z bazą')
except:
     print ('Błąd połączenia z bazą danych MS SQL server')

Jest połączenie z bazą

#### Eksport danych do bazy

In [80]:
try:
    data.to_sql('ZRM', engine_ms, if_exists='append', index=False,  schema='dbo' )
    print("Wyeksportowano dane")
except:
    print('Nie udało się wyeksportować danych')

Wyeksportowano dane

#### Import danych

In [81]:
dataset = pd.read_sql_query('select * from ZRM', engine_ms)
dataset.head()

,index,id,nazwa,adres,miasto,LAT,LONG
0,None,1,S-Ławica,ul. Bukowska 285,60-189 Poznań,52.414413,16.837241
1,None,2,P-Lutycka,ul. Juraszów 7/19,60-479 Poznań,52.440155,16.908539
2,None,3,S-Szwajcarska,ul. Szwajcarska 3,61-285 Poznań,52.389697,16.992410
3,None,4,P1-Rataje,os. Piastowskie 15,61-148 Poznań,52.395279,16.945332
4,None,5,P2-Rataje,os. Piastowskie 15,61-148 Poznań,52.395279,16.945332

#### Truncate tabeli

In [74]:
try:
    engine_ms.execute(sa_text('''TRUNCATE TABLE ZRM''').execution_options(autocommit=True));
    print('Usunięto zawartość tabeli')
except:
    print ('Nie usunięto zawartości tabeli. Sprawdź czy istnieje')

Usunięto zawartość tabeli